name: Windows RDP with Ngrok (Free)

on:
  push:
    branches: [ main ]

jobs:
  rdp:
    runs-on: windows-latest
    timeout-minutes: 600
    env:
      NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
    steps:
      - name: Enable Remote Desktop
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
      - name: Download Ngrok
        run: |
          Invoke-WebRequest -Uri https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
          Expand-Archive ngrok.zip -DestinationPath $env:USERPROFILE
      - name: Set Ngrok Authentication Token
        run: |
          $ngrokPath = Join-Path $env:USERPROFILE -ChildPath "ngrok.exe"
          & $ngrokPath authtoken $env:NGROK_AUTH_TOKEN
          & $ngrokPath authtoken $env:NGROK_AUTH_TOKEN > "C:\Users\runneradmin\.ngrok2\ngrok.yml"
      - name: Start Ngrok Tunnel and Output RDP Connection Address
        run: |
          $ngrokPath = Join-Path $env:USERPROFILE -ChildPath "ngrok.exe"
          & $ngrokPath tcp 3389 --config="C:\Users\runneradmin\.ngrok2\ngrok.yml" --log=stdout > ngrok.log &
          Start-Sleep -Seconds 10
          $ngrokUrl = Get-Content ngrok.log | Select-String -Pattern "tcp://.*:[0-9]+" | Select-Object -First 1 -ExpandProperty Matches | Select-Object -First 1 -ExpandProperty Value
          $rdpAddress = $ngrokUrl -replace "tcp://", ""
          Write-Output "RDP connection address: $rdpAddress"
